
// Typography Variables
$text-color: #333;
$link-color: #222;
$hr-color: #ccc;

$baseline: 1.4em;

$body-font-family: 'Lucida Grande', sans-serif;

$h1-size: 2.369em; // 37px
$h2-size: 2.050em; // 32px
$h3-size: 1.777em; // 28px
$h4-size: 1.333em; // 21px
$h5-size: 1em; // 16px
$h6-size: .75em; // 12px

// Visual Components (border-radius, etc...)



// Button Variables
$btn-radius: 6px;
$btn-small-font: .75em;
$btn-large-font: 2em; //2em
$btn-bg: #ccc;
$btn-bg-hover: #eee;
$btn-text: #2d2d2d;
$btn-text-hover: #000;



// Colors

//Alpha Transparancies
$a-zero: 0;
$a-one: 0.1;
$a-two: 0.2;
$a-three: 0.3;
$a-four: 0.4;
$a-five: 0.5;
$a-six: 0.6;
$a-seven: 0.7;
$a-eight: 0.8;
$a-nine: 0.9;
$a-full: 1;

// Custom Pixel Widths
$one: 0.063em;
$one-r: 0.063rem;
$two: 0.125em;
$two-r: 0.125rem;
$three: 0.188em;
$three-r: 0.188rem;
$four: 0.250em;
$four-r: 0.250rem;
$five: 0.313em;
$five-r: 0.313rem;
$six: 0.375em;
$six-r: 0.375rem;
$seven: 0.438em;
$seven-r: 0.438rem;
$eight: 0.500em;
$eight-r: 0.500rem;
$nine: 0.563em;
$nine-r: 0.563rem;
$ten: 0.625em;
$ten-r: 0.625rem;
$twenty: 1.250em;
$twenty-r: 1.250rem;