@import "../settings/_settings.scss";

@font-face {
  font-family: 'Lucida Grande';
  src: url('/fonts/lucida-grande/lucida-grande.eot'); /* IE9 Compat Modes */
  src: url('/fonts/lucida-grande/lucida-grande.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lucida-grande/lucida-grande.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lucida-grande/lucida-grande.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lucida-grande/lucida-grande.svg#0815a198de1189517e0d44ff74ed7022') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

