@import "../settings/_settings.scss";


#left-half {
	@include span-columns(8 of 16);
}

#right-half {
	@include span-columns(8 of 16);
}

#new-artworks,
#contact-box {
	@include span-columns(8 of 8);
}

#new-artworks {
	// height: 500px;
}

#contact-box {
	height: 100px;
}

#free-spont-int,
#patt-lin-geo,
#index-verbiage, 
#new-artworks,
#contact-box {
	border: $two solid white;
	background: #fff;
	margin-bottom: em(25);
}

#free-spont-int,
#patt-lin-geo {
	@include span-columns(4 of 8);
}

#index-verbiage {
	@include span-columns(8 of 8);
	padding: 1em;

	@include media($medium) {
		padding: 0 1em 1em;
	}

	p {
		margin-bottom: 35%;

		@include media($large) {
			margin-bottom: 20%;
		}

		@include media($medium) {
			margin-bottom: 2%;
		}
	}

}

.widget-title-container {
	position: relative;
	text-align: center;
}

.widget-title {
	width: 100%;
	margin-top: 1em;
	color: #fff;
	position: absolute;
	z-index: 10;
}