@font-face {
  font-family: 'AvenirNext LT Pro Regular';
  src: url('avenir-next-regular.eot'); /* IE9 Compat Modes */
  src: url('avenir-next-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('avenir-next-regular.woff') format('woff'), /* Modern Browsers */
       url('avenir-next-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('avenir-next-regular.svg#fa20c367c6a148cda65f50238befb5f2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

