html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.hero#portfolio {
  height: 100%;
  width: 100%;
  background: #ECECEC url("/img/portfolio/hero/isometric/default.jpg") no-repeat center 2.5em;
  background-size: cover;
  text-align: center;
  box-shadow: 0 0.6875rem 0.4375rem 0 rgba(0, 0, 0, 0.19), 0 0.8125rem 1.5625rem 0 rgba(0, 0, 0, 0.3);
  border-bottom: 0.125em solid #58c4be;
}

.hero#portfolio h1 {
  position: absolute;
  width: 100%;
  top: 40%;
  color: #fff;
  text-shadow: 0.0625rem 0.1875rem 0.3125rem #000;
}

@media only screen and (max-width: 46.875em) {
  .hero#portfolio {
    background: #ECECEC url("/img/portfolio/hero/isometric/mobile.jpg") no-repeat center center;
    background-size: cover;
  }
}

.intro-text#portfolio h2 span {
  display: inline-block;
}

.project-banner {
  background-size: cover;
  padding-top: 1.5625em;
  margin-bottom: 1.875em;
  overflow: hidden;
}

.project-banner h3 {
  margin-bottom: 1.5625rem;
}

.project-banner span {
  display: inline-block;
}

.banner-content {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

.banner-content::after {
  clear: both;
  content: "";
  display: table;
}

.project-summary, .project-image {
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 49.12106%;
}

.project-summary:last-child, .project-image:last-child {
  margin-right: 0;
}

.project-summary .logo {
  max-width: 31.25em;
  margin-bottom: 1.5625em;
}

.blog-c2a {
  padding: 1em;
  margin-bottom: 1.875em;
}

@media screen and (max-width: 62.5em) {
  .blog-c2a a {
    margin-top: 0.625rem;
  }
}

a.button#greencare {
  background-color: #624012;
  color: #fff;
}

a.button#greencare:hover {
  background-color: #A0CE38;
}

.project-banner#greencare {
  background-color: #eee;
  border-top: 0.1875em solid #4C3211;
  border-bottom: 0.1875em solid #4C3211;
}

.project-banner#greencare .logo {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 28.01019%;
  margin-bottom: 2.8125em;
}

.project-banner#greencare .verbiage {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 69.14722%;
  text-align: left;
}

.project-banner#greencare .verbiage:last-child {
  margin-right: 0;
}

.project-banner#greencare h3 {
  margin-bottom: 0.3125rem;
}

.project-banner#greencare a {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 69.14722%;
  margin-left: 15.42639%;
}

.project-banner#greencare a:last-child {
  margin-right: 0;
}

@media screen and (max-width: 62.5em) {
  .project-banner#greencare .project-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    margin-bottom: 1.875em;
  }
  .project-banner#greencare .project-summary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .project-banner#greencare .project-summary:last-child {
    margin-right: 0;
  }
  .project-banner#greencare .logo {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 17.72593%;
    margin-left: 5.14213%;
    margin-bottom: 2.1875em;
  }
  .project-banner#greencare .verbiage {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 69.14722%;
  }
  .project-banner#greencare .verbiage:last-child {
    margin-right: 0;
  }
  .project-banner#greencare h3 {
    padding-top: 0.625rem;
  }
  .project-banner#greencare a {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 58.86297%;
    margin-left: 20.56852%;
    margin-bottom: 2.1875rem;
  }
  .project-banner#greencare a:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 46.875em) {
  .project-banner#greencare .project-image {
    margin-bottom: 1.25em;
  }
  .project-banner#greencare .logo {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 28.01019%;
    margin-left: 0%;
    margin-bottom: 0.9375em;
    max-width: 9.375em;
  }
  .project-banner#greencare h3 {
    padding-top: 1.875rem;
  }
}

@media only screen and (max-width: 37.188em) {
  .project-banner#greencare .logo {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 22.86806%;
    margin-bottom: 1.5625em;
  }
  .project-banner#greencare h3 {
    padding-top: 0.9375rem;
  }
}

@media screen and (max-width: 23.75em) {
  .project-banner#greencare .project-image {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    margin-left: 0%;
  }
  .project-banner#greencare .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%;
    margin-bottom: 0;
  }
  .project-banner#greencare .verbiage {
    text-align: center;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: 0%;
  }
  .project-banner#greencare .verbiage:last-child {
    margin-right: 0;
  }
  .project-banner#greencare h3 {
    padding-top: 0.3125rem;
  }
  .project-banner#greencare a {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 74.10533%;
    margin-left: 12.94733%;
  }
  .project-banner#greencare a:last-child {
    margin-right: 0;
  }
}

.project-banner#lisa-esposito {
  background: #fff;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.3);
  border-top: 0.1875em solid #8B6691;
  position: relative;
}

.project-banner#lisa-esposito .visual-mockup {
  padding-left: 1.25em;
  width: 50%;
  float: left;
}

.project-banner#lisa-esposito .visual-mockup img {
  max-width: 56.25em;
}

@media screen and (max-width: 46.875em) {
  .project-banner#lisa-esposito .visual-mockup {
    padding-left: 0.625em;
  }
}

.project-banner#lisa-esposito .verbiage {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  padding: 0 1.25rem;
}

.project-banner#lisa-esposito .verbiage .row#tagline, .project-banner#lisa-esposito .verbiage .row#button {
  position: relative;
}

.project-banner#lisa-esposito .verbiage .row#tagline {
  top: 20%;
}

.project-banner#lisa-esposito .verbiage .row#button {
  top: 30%;
}

.project-banner#lisa-esposito .verbiage h3 {
  margin: 0 auto;
  max-width: 30.625rem;
}

.project-banner#lisa-esposito .verbiage a {
  color: #000;
  text-shadow: 0.0625rem 0.0625rem 0.1875rem #fff;
  font-size: 1.9375rem;
}

.project-banner#lisa-esposito .verbiage a:hover {
  background: #8D6490;
  border: 0.125rem solid #8D6490;
  color: #fff;
  text-shadow: none;
}

@media only screen and (min-width: 100em) {
  .project-banner#lisa-esposito .verbiage {
    padding-left: 3.75em;
    text-align: left;
  }
  .project-banner#lisa-esposito .verbiage h3 {
    margin-left: 0;
  }
}

@media only screen and (max-width: 62.5em) {
  .project-banner#lisa-esposito .verbiage {
    text-align: left;
  }
  .project-banner#lisa-esposito .verbiage .row#tagline {
    top: 10%;
  }
  .project-banner#lisa-esposito .verbiage .row#button {
    top: 20%;
  }
}

@media only screen and (max-width: 53.125em) {
  .project-banner#lisa-esposito .verbiage .row#tagline {
    top: 5%;
  }
  .project-banner#lisa-esposito .verbiage .row#button {
    top: 15%;
  }
  .project-banner#lisa-esposito .verbiage a {
    font-size: 1.625rem;
  }
}

@media screen and (max-width: 46.875em) {
  .project-banner#lisa-esposito .verbiage a {
    font-size: 1.375em;
  }
}

@media only screen and (max-width: 38.125em) {
  .project-banner#lisa-esposito .visual-mockup, .project-banner#lisa-esposito .verbiage {
    width: 100%;
  }
  .project-banner#lisa-esposito .visual-mockup {
    float: none;
    padding: 0 1.25rem;
  }
  .project-banner#lisa-esposito .verbiage {
    position: initial;
    text-align: center;
  }
  .project-banner#lisa-esposito .verbiage h3 {
    max-width: 100%;
    margin-bottom: 1.875rem;
  }
  .project-banner#lisa-esposito .verbiage a {
    margin-bottom: 1.875rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .project-banner#lisa-esposito .visual-mockup {
    padding: 0 0.625rem;
  }
}

a#jdf-button {
  background-color: #FFFEB3;
  color: #000;
  margin-bottom: 1.625rem;
}

a#jdf-button:hover {
  background-color: #697B99;
  color: #fff;
}

#jardin-de-france-banner {
  background: url("/img/portfolio/jdf/assets/linen-bg.jpg") repeat;
  background-size: 100px;
  border-top: 0.1875em solid #697B99;
  border-bottom: 0.1875em solid #697B99;
  padding-top: 0;
}

#jardin-de-france-banner .gif-wrapper {
  padding: 1.875em 0 1.875em 1.25em;
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 55.48093%;
}

#jardin-de-france-banner .gif-wrapper img {
  visibility: hidden;
}

#jardin-de-france-banner .verbiage {
  padding: 4.375em 0.625em 0 0;
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 42.76119%;
}

#jardin-de-france-banner .verbiage:last-child {
  margin-right: 0;
}

@media screen and (max-width: 62.5em) {
  #jardin-de-france-banner .verbiage {
    padding: 3.4375em 0.625em 0 0;
  }
}

@media screen and (max-width: 40em) {
  #jardin-de-france-banner .gif-wrapper {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 74.10533%;
    margin-left: 12.94733%;
    padding: 1.25em 0;
  }
  #jardin-de-france-banner .verbiage {
    padding: 0 0 1.25em 0;
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 74.10533%;
    margin-left: 12.94733%;
  }
  #jardin-de-france-banner .verbiage:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 23.75em) {
  #jardin-de-france-banner .gif-wrapper {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 93.52633%;
    margin-left: 3.23683%;
  }
}

a#paper-city-button {
  background-color: #FFFEB3;
  color: #333;
}

a#paper-city-button:hover {
  background-color: #697B99;
  color: #fff;
}

#jdf-summary {
  padding-top: 1.875em;
  background: url("/img/portfolio/jdf/assets/linen-bg.jpg");
  border-bottom: 0.125em solid #fff;
}

#jdf-summary .row#jdf-title {
  margin-bottom: 1.25em;
}

#jdf-summary .row#jdf-title a {
  font-size: 1.5rem;
  text-decoration: underline;
}

#jdf-summary .row#jdf-title a:hover {
  text-decoration: none;
}

#jdf-summary .row {
  width: 100%;
  position: relative;
}

#jdf-summary .verbiage-container {
  width: 48%;
  float: right;
  position: relative;
  height: 21.875em;
  padding-top: 2.5em;
}

#jdf-summary .verbiage-container .verbiage {
  position: absolute;
  padding: 0 1.25em;
}

#jdf-summary .verbiage-container .verbiage a.button#jdf-button {
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important;
}

@media only screen and (max-width: 930px) {
  #jdf-summary .verbiage-container .verbiage {
    padding-left: 0;
  }
}

#jdf-summary .image-container {
  left: 0;
  width: 50%;
  position: relative;
  text-align: right;
  float: left;
  height: 21.875em;
}

#jdf-summary .image-container img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 21.875em;
  width: auto;
}

@media only screen and (max-width: 53.125em) {
  #jdf-summary .verbiage-container {
    padding-top: 0;
  }
}

@media screen and (max-width: 46.875em) {
  #jdf-summary .verbiage-container, #jdf-summary .image-container {
    position: relative;
    margin-bottom: 1.875em;
    height: auto;
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 100%;
    margin-left: 0%;
  }
  #jdf-summary .verbiage-container:last-child {
    margin-right: 0;
  }
  #jdf-summary .verbiage-container .verbiage {
    padding: 0 1em;
    position: relative;
    text-align: center;
    width: 100%;
  }
  #jdf-summary .image-container {
    text-align: center;
  }
  #jdf-summary .image-container img {
    position: relative;
    width: 100%;
    padding: 0 1.25em;
    max-width: 33.125em;
    height: auto;
  }
}

#paper-city-summary {
  padding-top: 2.875em;
  background: url("/img/portfolio/jdf/paper-city/paper-city-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#paper-city-summary .image-container {
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 42.76119%;
}

#paper-city-summary .image-container:last-child {
  margin-right: 0;
}

#paper-city-summary .image-container img {
  max-width: 30em;
  border: 0.125em solid #fff;
  box-shadow: 0px 0.6875em 0.4375em 0px rgba(0, 0, 0, 0.19), 0px 0.8125em 1.5625em 0px rgba(0, 0, 0, 0.3);
}

#paper-city-summary .verbiage-container {
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 55.48093%;
  padding: 4em 0 0 1em;
}

#paper-city-summary .verbiage-container img {
  margin-bottom: 2em;
  max-width: 560px;
}

@media only screen and (max-width: 53.125em) {
  #paper-city-summary .verbiage-container {
    padding-top: 1.5em;
  }
}

@media screen and (max-width: 46.875em) {
  #paper-city-summary .verbiage-container {
    padding-top: 1em;
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 48.57871%;
  }
  #paper-city-summary .image-container {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 48.57871%;
  }
  #paper-city-summary .image-container:last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 43.75em) {
  #paper-city-summary .verbiage-container, #paper-city-summary .image-container {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 100%;
    margin-left: 0%;
  }
  #paper-city-summary .image-container:last-child {
    margin-right: 0;
  }
  #paper-city-summary .verbiage-container {
    margin-bottom: 2.25em;
    padding: 0.625em;
  }
  #paper-city-summary .image-container {
    padding: 0 1em;
  }
  #paper-city-summary .image-container img {
    max-width: 22.5em;
    width: 100%;
  }
}

body#jardin-de-france .hero-header {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/img/portfolio/jdf/hero/isometric-1/hero.jpg");
  background-color: #fff;
  box-shadow: 0 0.6875rem 0.4375rem 0 rgba(0, 0, 0, 0.19), 0 0.8125rem 1.5625rem 0 rgba(0, 0, 0, 0.3);
  border-bottom: 0.3125em solid #6A7B99;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  body#jardin-de-france .hero-header {
    background-image: url("/img/portfolio/jdf/hero/isometric-1/hero@2x.jpg");
    background-size: cover;
  }
}

@media only screen and (min-width: 93.813em) {
  body#jardin-de-france .hero-header {
    background-size: cover;
  }
}

@media only screen and (max-width: 46.875em) {
  body#jardin-de-france .hero-header {
    background-image: url("/img/portfolio/jdf/hero/isometric-1/hero@750.jpg");
    background-attachment: initial;
    background-position: center;
  }
}

body#jardin-de-france .hero-header .content {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
}

body#jardin-de-france .hero-header .content img#jdf-logo {
  max-width: 68.75em;
  width: 100%;
}

body#jardin-de-france .hero-header .content .row {
  position: relative;
  top: -1.25em;
}

body#jardin-de-france .hero-header .content h1, body#jardin-de-france .hero-header .content h2 {
  color: #fff;
  text-shadow: 0.0625rem 0.1875rem 0.3125rem #000;
}

body#jardin-de-france .hero-header .content h2 {
  margin-bottom: 1.125rem;
}

body#jardin-de-france .hero-header .content img#down-arrow {
  width: 3.75em;
  height: 3.75em;
}

.project-banner#lemon-peel-facial {
  background: #fff url("/img/portfolio/lpf/banner/banner-bg.jpg") no-repeat center;
  background-size: cover;
  border: 0 solid #fff;
  border-width: 0.1875em 0;
  padding: 0;
  height: 26.25em;
  overflow: hidden;
}

.project-banner#lemon-peel-facial .project-image {
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 42.76119%;
}

.project-banner#lemon-peel-facial .project-image img {
  margin-top: -3.125rem;
  max-width: 470px;
}

.project-banner#lemon-peel-facial .project-image .mobile-logo {
  text-indent: -9999px;
  display: none;
  visibility: hidden;
}

.project-banner#lemon-peel-facial .project-image .mobile-logo h1 {
  line-height: 1;
}

.project-banner#lemon-peel-facial .project-summary {
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 55.48093%;
  background: rgba(255, 255, 255, 0.6);
  border: 0 solid #98985C;
  border-width: 0 0.375em;
  height: 26.25em;
}

.project-banner#lemon-peel-facial .project-summary:last-child {
  margin-right: 0;
}

.project-banner#lemon-peel-facial .project-summary .logo-wrapper {
  margin-top: 4.375em;
  width: 100%;
  text-align: center;
  text-indent: -9999px;
  background: url("/img/portfolio/lpf/logo/lemon-peel-facial-logo.png") no-repeat;
  background-size: contain;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .project-banner#lemon-peel-facial .project-summary .logo-wrapper {
    background: url("/img/portfolio/lpf/logo/lemon-peel-facial-logo@2x.png") no-repeat;
    background-size: contain;
  }
}

.project-banner#lemon-peel-facial .project-summary .logo-wrapper h1 {
  line-height: 1;
  margin: 0;
}

.project-banner#lemon-peel-facial .project-summary .prose p {
  margin-bottom: 2.125rem;
  font-size: 1.75rem;
  text-align: left;
}

.project-banner#lemon-peel-facial .project-summary .prose a {
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  padding: 0.875rem 1.25rem;
  line-height: 1;
  border: 0.0625rem solid #fff;
}

.project-banner#lemon-peel-facial .project-summary .prose a:hover {
  background: #98985C;
  color: #fff;
}

@media only screen and (max-width: 61.25em) {
  .project-banner#lemon-peel-facial {
    height: auto;
  }
  .project-banner#lemon-peel-facial .project-image {
    height: 26.25em;
    position: relative;
  }
  .project-banner#lemon-peel-facial .project-image img {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 0;
  }
}

@media only screen and (max-width: 50em) {
  .project-banner#lemon-peel-facial .project-image {
    height: 24.375em;
  }
  .project-banner#lemon-peel-facial .project-summary {
    height: 24.375em;
  }
  .project-banner#lemon-peel-facial .project-summary .prose p {
    font-size: 1.375rem;
  }
}

@media only screen and (max-width: 41.25em) {
  .project-banner#lemon-peel-facial .row {
    padding: 1em;
    background: rgba(255, 255, 255, 0.6);
  }
  .project-banner#lemon-peel-facial .project-image, .project-banner#lemon-peel-facial .project-summary {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 100%;
  }
  .project-banner#lemon-peel-facial .project-summary:last-child {
    margin-right: 0;
  }
  .project-banner#lemon-peel-facial .project-image {
    border: 0 solid #98985C;
    border-width: 0.375em 0.375em 0;
    height: auto;
  }
  .project-banner#lemon-peel-facial .project-image .desktop-mockup, .project-banner#lemon-peel-facial .project-image .mobile-logo {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 48.57871%;
  }
  .project-banner#lemon-peel-facial .project-image .desktop-mockup:last-child {
    margin-right: 0;
  }
  .project-banner#lemon-peel-facial .project-image .desktop-mockup img {
    position: initial;
  }
  .project-banner#lemon-peel-facial .project-image .desktop-mockup {
    padding: 1.25em;
  }
  .project-banner#lemon-peel-facial .project-image .mobile-logo {
    display: block;
    visibility: visible;
    background: url("/img/portfolio/lpf/logo/660w/lemon-peel-facial-logo@2x.png") no-repeat;
    background-size: contain;
    padding: 7.5em 0 3.125em;
    margin-top: 3.75em;
    float: right;
  }
  .project-banner#lemon-peel-facial .project-summary {
    border-bottom: 0.375em solid #98985C;
    background: none;
    height: auto;
  }
  .project-banner#lemon-peel-facial .project-summary .logo-wrapper {
    display: none;
    visibility: hidden;
  }
  .project-banner#lemon-peel-facial .project-summary .prose p {
    margin-bottom: 1.375rem;
  }
  .project-banner#lemon-peel-facial .project-summary .text-center {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .project-banner#lemon-peel-facial .side-padding {
    padding: 0 0.625em;
  }
  .project-banner#lemon-peel-facial .project-image {
    padding-bottom: 1.25em;
  }
  .project-banner#lemon-peel-facial .project-image .desktop-mockup, .project-banner#lemon-peel-facial .project-image .mobile-logo {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    text-align: center;
  }
  .project-banner#lemon-peel-facial .project-image .desktop-mockup:last-child {
    margin-right: 0;
  }
  .project-banner#lemon-peel-facial .project-image .desktop-mockup {
    padding: 0;
  }
  .project-banner#lemon-peel-facial .project-image .desktop-mockup img {
    max-width: 270px;
    padding: 0 0.75rem;
  }
  .project-banner#lemon-peel-facial .project-image .mobile-logo {
    float: left;
    margin: 0.9375rem 0 0;
    padding: 0;
    background-size: 190px auto;
    height: 170px;
    background-position: center top;
  }
}

.project-banner#deck-on-fountainview {
  background-image: url("/img/portfolio/deck-on-fountainview/banner/banner.jpg");
  color: #fff;
  border: 0 solid #5EBDDF;
  border-width: 0.1875em 0;
  overflow: hidden;
}

.project-banner#deck-on-fountainview a#website-link {
  letter-spacing: 0.09375rem;
  background-color: #5EBDDF;
}

.project-banner#deck-on-fountainview a#website-link:hover {
  background-color: #fff;
  color: #00AEDA;
}

.project-banner#deck-on-fountainview .project-summary {
  text-align: right;
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 55.48093%;
}

.project-banner#deck-on-fountainview .project-summary .logo-wrapper {
  text-indent: -9999px;
  text-align: left;
  background: url("/img/portfolio/deck-on-fountainview/logo.png") no-repeat right top;
  background-size: contain;
  margin-bottom: 0.9375em;
  height: 11.875em;
}

.project-banner#deck-on-fountainview .project-summary .logo-wrapper h1 {
  line-height: 1;
}

.project-banner#deck-on-fountainview .project-summary .prose p {
  font-size: 1.9375em;
  margin-bottom: 1.25rem;
}

.project-banner#deck-on-fountainview .project-image {
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 42.76119%;
  padding-left: 1.5625em;
}

.project-banner#deck-on-fountainview .project-image:last-child {
  margin-right: 0;
}

.project-banner#deck-on-fountainview .project-image img {
  max-width: 19.375em;
  visibility: hidden;
}

@media only screen and (max-width: 56.25em) {
  .project-banner#deck-on-fountainview a#website-link {
    font-size: 1.25rem;
    padding: 0.6875rem 0.625rem;
  }
  .project-banner#deck-on-fountainview .project-summary {
    float: left;
    display: block;
    margin-right: 1.75788%;
    width: 55.48093%;
  }
  .project-banner#deck-on-fountainview .project-image {
    float: left;
    display: block;
    margin-right: 1.75788%;
    width: 42.76119%;
    padding-left: 0;
    text-align: right;
  }
  .project-banner#deck-on-fountainview .project-image:last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 43.75em) {
  .project-banner#deck-on-fountainview {
    background-image: url("/img/portfolio/deck-on-fountainview/banner/banner@m.jpg");
  }
  .project-banner#deck-on-fountainview .project-summary, .project-banner#deck-on-fountainview .project-image {
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .project-banner#deck-on-fountainview .project-summary {
    margin-bottom: 1.875em;
  }
  .project-banner#deck-on-fountainview .project-summary .logo-wrapper {
    text-align: center;
    background-position: center center;
  }
}

@media only screen and (max-width: 25em) {
  .project-banner#deck-on-fountainview a#website-link {
    font-size: 0.875rem;
  }
  .project-banner#deck-on-fountainview .project-summary .prose p {
    font-size: 1.625rem;
  }
}

@media screen and (max-width: 23.75em) {
  .project-banner#deck-on-fountainview a#website-link {
    margin-left: -0.4375rem;
    font-size: 1.0625rem;
  }
}

.project-banner#zaraza {
  background-image: url("/img/portfolio/zaraza-design/bg/banner.jpg");
  color: #fff;
  padding-top: 0;
  border: solid #E5B627;
  border-width: 0.1875em 0;
}

.project-banner#zaraza .project-summary {
  padding: 1.25em 0 0 1em;
}

.project-banner#zaraza .project-summary .logo {
  margin-bottom: 0.625em;
}

.project-banner#zaraza h3 {
  margin-bottom: 0.875rem;
}

.project-banner#zaraza .parallax-image {
  background: url("/img/portfolio/zaraza-design/mockups/zaraza-design-iphone-1.png") no-repeat;
}

.project-banner#zaraza .parallax-image img {
  max-width: 25em;
}

.project-banner#zaraza .static-image {
  visibility: hidden;
  display: none;
  margin-right: 1.5em;
  padding-top: 1.5625em;
}

@media only screen and (max-width: 53.125em) {
  .project-banner#zaraza .verbiage a {
    font-size: 1.375rem;
    padding: 1rem 1.25rem 1.0625rem;
  }
}

@media only screen and (max-width: 50em) {
  .project-banner#zaraza .parallax-image {
    visibility: hidden;
    display: none;
  }
  .project-banner#zaraza .static-image {
    margin-top: 1.875em;
    background: url("/img/portfolio/zaraza-design/mockups/zaraza-design-iphone-1.png") no-repeat;
    background-size: cover;
    visibility: visible;
    display: block;
  }
  .project-banner#zaraza .static-image img {
    max-width: 25em;
  }
}

@media only screen and (max-width: 43.75em) {
  .project-banner#zaraza .verbiage a {
    margin: 0 1.875rem;
  }
}

@media only screen and (max-width: 37.188em) {
  .project-banner#zaraza .project-summary, .project-banner#zaraza .project-image {
    width: 100%;
    margin: 0;
  }
  .project-banner#zaraza .logo {
    max-width: 25em;
  }
  .project-banner#zaraza .project-summary {
    margin-bottom: 2.1875em;
    padding: 1.5625rem 0.875rem 0;
  }
  .project-banner#zaraza .project-summary a {
    margin: 0;
  }
  .project-banner#zaraza .project-image .static-image {
    background-size: 92%;
    margin-top: 0;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 23.75em) {
  .project-banner#zaraza .verbiage a {
    font-size: 1.125rem;
    padding: 1rem 0.75rem 1.0625rem;
  }
}

a.button#zaraza-design {
  background-color: #E5B627;
}

a.button#zaraza-design:hover {
  background-color: #ecc85d;
}

#zaraza-design main {
  text-align: left;
}

#zaraza-design .hero {
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 3.125em;
  padding: 1.25em 0;
  background: #fff url("/img/portfolio/zaraza-design/hero/zaraza-hero@2x.jpg") no-repeat center 1.25em;
  background-size: contain;
  text-align: center;
  box-shadow: 0 0.6875rem 0.4375rem 0 rgba(0, 0, 0, 0.19), 0 0.8125rem 1.5625rem 0 rgba(0, 0, 0, 0.3);
}

#zaraza-design .hero .row {
  position: absolute;
  width: 100%;
  top: 30%;
  color: #fff;
}

#zaraza-design .hero .row h1 {
  text-shadow: 0.0625rem 0.1875rem 0.25rem #000;
  margin: 0;
}

#zaraza-design .project-scope {
  margin-bottom: 5rem;
}

#zaraza-design .project-scope .logo-box, #zaraza-design .project-scope .details-column {
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 49.12106%;
}

#zaraza-design .project-scope .details-column:last-child {
  margin-right: 0;
}

#zaraza-design .project-scope .logo-box {
  border: 0.0625em solid #000;
  height: 14.375rem;
  padding: 1rem;
  position: relative;
}

#zaraza-design .project-scope .logo-box img {
  position: absolute;
  bottom: 0;
  padding: 0 2rem 1rem 0;
  max-width: 30em;
}

#zaraza-design .project-scope .details-column * {
  font-size: 1.9375rem;
  margin: 0;
}

#zaraza-design .project-scope .details-column #website {
  border: 0.0625em solid #000;
  padding: 1rem;
  margin-bottom: 0.875rem;
}

#zaraza-design .project-scope .details-column #website a {
  text-decoration: underline;
}

#zaraza-design .project-scope .details-column #website a:hover {
  text-decoration: none;
}

#zaraza-design .project-scope .details-column #unique-feature {
  border: 0.0625em solid #000;
  padding: 1rem;
}

#zaraza-design .project-feature {
  width: 100%;
  position: relative;
  height: 33.125em;
  margin-bottom: 6.875em;
  border: solid #E5B627;
  border-width: 0.1875em 0;
}

#zaraza-design .project-feature .vcard-gif {
  width: 50%;
  float: left;
  height: 100%;
  background: url("/img/portfolio/zaraza-design/bg/zaraza-modal-bg@2x.jpg") right top no-repeat;
  background-size: cover;
  padding: 0.9375em 10.625em 0 0;
}

#zaraza-design .project-feature .vcard-gif img {
  float: right;
  height: 31.25em;
  width: auto;
}

#zaraza-design .project-feature article {
  width: 50%;
  float: right;
  height: 100%;
  background: #fff;
  box-shadow: 0 0.6875rem 0.4375rem 0 rgba(0, 0, 0, 0.19), 0 0.8125rem 1.5625rem 0 rgba(0, 0, 0, 0.3);
  padding: 3.125em 1.25em 0 1.875em;
}

#zaraza-design .project-feature article h3 {
  margin-bottom: 1.5rem;
}

#zaraza-design .project-feature article p {
  max-width: 32.5rem;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

#zaraza-design .project-feature article a {
  text-align: left;
  margin: 1rem 1.25rem 0 0;
  font-size: 1.375rem;
}

@media only screen and (max-width: 56.25em) {
  #zaraza-design .project-scope .logo-box *, #zaraza-design .project-scope .details-column * {
    font-size: 1.75rem;
  }
  #zaraza-design .project-scope .logo-box {
    height: 13.375rem;
    float: left;
    display: block;
    margin-right: 1.75788%;
    width: 42.76119%;
  }
  #zaraza-design .project-scope .logo-box img {
    top: 40%;
  }
  #zaraza-design .project-scope .details-column {
    float: left;
    display: block;
    margin-right: 1.75788%;
    width: 55.48093%;
  }
  #zaraza-design .project-scope .details-column:last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 53.125em) {
  #zaraza-design .project-feature .vcard-gif {
    padding-right: 4.375em;
  }
  #zaraza-design .project-feature article h3 {
    font-size: 1.625rem;
  }
  #zaraza-design .project-feature article p {
    font-size: 1.125rem;
  }
  #zaraza-design .project-feature article a {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 46.875em) {
  #zaraza-design .project-scope .logo-box {
    height: 11.625rem;
  }
  #zaraza-design .project-scope .logo-box *, #zaraza-design .project-scope .details-column * {
    font-size: 1.375rem;
  }
  #zaraza-design .project-feature article {
    padding-top: 1.875rem;
  }
}

@media only screen and (max-width: 38.125em) {
  #zaraza-design .project-scope .logo-box {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    margin-bottom: 1.125rem;
    height: auto;
  }
  #zaraza-design .project-scope .logo-box img {
    max-width: 25rem;
    position: initial;
    padding: 0;
  }
  #zaraza-design .project-scope .details-column {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
  }
  #zaraza-design .project-scope .details-column:last-child {
    margin-right: 0;
  }
  #zaraza-design .project-scope .details-column #website, #zaraza-design .project-scope .details-column #unique-feature {
    margin-bottom: 1.125rem;
  }
  #zaraza-design .project-feature {
    height: auto;
  }
  #zaraza-design .project-feature .vcard-gif, #zaraza-design .project-feature article {
    float: none;
    width: 100%;
  }
  #zaraza-design .project-feature .vcard-gif {
    text-align: center;
    padding: 1.25rem 0;
  }
  #zaraza-design .project-feature .vcard-gif img {
    float: none;
  }
  #zaraza-design .project-feature article {
    padding: 1.875rem;
  }
  #zaraza-design .project-feature article a {
    margin-right: 0;
  }
}

@media only screen and (max-width: 31.25em) {
  #zaraza-design .hero {
    padding-bottom: 0;
    background: #fff url("/img/portfolio/zaraza-design/hero/zaraza-hero@500.jpg") no-repeat center bottom;
    background-size: contain;
  }
  #zaraza-design .hero .row h1 {
    font-size: 2.25rem;
  }
  #zaraza-design main {
    margin-top: 2.5em;
  }
}

@media only screen and (max-width: 26.25em) {
  #zaraza-design .hero {
    height: 15em;
  }
}

@media only screen and (max-width: 25em) {
  #zaraza-design .hero {
    height: 11.875em;
  }
  #zaraza-design .hero .row h1 {
    font-size: 1.875rem;
  }
}

a.button#a-plus-permit {
  background-color: #ca2832;
}

a.button#a-plus-permit:hover {
  background-color: #f7f7f7;
  color: #ca2832;
}

.project-banner#a-plus-permit {
  border-bottom: 0.1875em solid #6F6856;
  border-top: 0.1875em solid #6F6856;
  background-image: url("/img/portfolio/a-plus-permit/bg/banner-1.jpg");
  color: #fff;
  margin-bottom: 4.6875em;
}

.project-banner#a-plus-permit .project-summary {
  padding-top: 3.125em;
}

.project-banner#a-plus-permit a {
  letter-spacing: 0.0625rem;
}

.project-banner#a-plus-permit .project-image img {
  max-width: 30em;
  visibility: hidden;
}

@media only screen and (max-width: 37.188em) {
  .project-banner#a-plus-permit .project-summary, .project-banner#a-plus-permit .project-image {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
  }
  .project-banner#a-plus-permit .project-image:last-child {
    margin-right: 0;
  }
  .project-banner#a-plus-permit .project-summary {
    margin-bottom: 1.25em;
  }
  .project-banner#a-plus-permit .project-image img {
    max-width: 28.125em;
    margin-bottom: 1.25em;
    margin-bottom: 0;
    position: relative;
    left: -0.625em;
  }
  .project-banner#a-plus-permit .logo {
    max-width: 20em;
  }
}

.hero-header#what-we-do {
  background-image: url("/img/services/what-we-do/hero/default.jpg");
  background-color: #748597;
}

@media only screen and (max-width: 65.625em) {
  .hero-header#what-we-do {
    background-size: 90%;
  }
}

@media screen and (max-width: 40em) {
  .hero-header#what-we-do {
    background-image: url("/img/services/what-we-do/hero/small.jpg");
    background-position: center 10px;
  }
}

@media only screen and (max-width: 31.25em) {
  .hero-header#what-we-do {
    background-position: center 30px;
  }
  .hero-header#what-we-do h1 {
    font-size: 3.75rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .hero-header#what-we-do h1 {
    font-size: 2.625rem;
    top: 10.625rem;
  }
}

.slogan-banner {
  width: 100%;
  background: #748597;
  box-shadow: inset 0px 0px 0.25em 0.0625em #222;
  color: #fff;
  height: 18.125em;
  margin-bottom: 3.125em;
}

.slogan {
  text-align: right;
  padding-left: 1.125em;
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 61.8408%;
  display: table;
  height: 18.125em;
}

.slogan h3 {
  display: table-cell;
  vertical-align: middle;
}

.coding-gif {
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 36.40133%;
}

.coding-gif:last-child {
  margin-right: 0;
}

.vertical-wrapper {
  position: relative;
  height: 18.125em;
}

.vertical-wrapper img {
  position: absolute;
  right: 0;
  bottom: 0.1875em;
  max-width: 430px;
  border: 0.125em solid #eee;
  box-shadow: 0px 0.0625em 0.1875em 0 #333;
}

.blogs {
  padding: 0 1em;
}

.blogs h3 {
  margin-bottom: 1.4375rem;
}

.imac-container {
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 30.04146%;
  margin-bottom: 2.25rem;
}

.imac-container img {
  max-width: 340px;
}

.blog-verbiage {
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 68.20066%;
  padding-top: 2.25rem;
}

.blog-verbiage:last-child {
  margin-right: 0;
}

.blog-verbiage p {
  text-align: left;
  margin-bottom: 2.25rem;
  font-size: 1.1875rem;
}

.blog-verbiage a {
  text-decoration: none;
}

@media screen and (max-width: 62.5em) {
  .slogan-banner {
    height: auto;
  }
  .slogan {
    height: auto;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    padding: 1.875em 0 0 0;
    display: block;
  }
  .coding-gif {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    position: inherit;
    bottom: inherit;
    padding-top: 1em;
    margin-bottom: 0.5em;
  }
  .coding-gif:last-child {
    margin-right: 0;
  }
  .vertical-wrapper {
    height: auto;
    position: inherit;
  }
  .vertical-wrapper img {
    position: inherit;
  }
  .imac-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
  }
  .blog-verbiage {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    padding-top: 0;
  }
  .blog-verbiage:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 46.875em) {
  .slogan {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 79.43148%;
    margin-left: 10.28426%;
    text-align: center;
    margin-bottom: 1.625rem;
  }
  .coding-gif {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 79.43148%;
    margin-left: 10.28426%;
    position: relative;
    text-align: center;
  }
  .coding-gif:last-child {
    margin-right: 0;
  }
  .blog-verbiage a {
    margin-bottom: 1.625rem;
  }
}

@media screen and (max-width: 40em) {
  .slogan-banner {
    margin-bottom: 1.875em;
  }
  .blogs {
    padding: 0;
  }
  .imac-container {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 61.158%;
    margin-left: 19.421%;
    margin-bottom: 0;
    text-align: center;
  }
  .blog-verbiage {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 87.05267%;
    margin-left: 6.47367%;
    padding-top: 0.625rem;
  }
  .blog-verbiage:last-child {
    margin-right: 0;
  }
  .blog-verbiage p {
    text-align: center;
  }
}

.hero-header#about-us {
  background-image: url("/img/about/hero/hero-default.jpg");
  background-color: #D7E492;
}

@media screen and (max-width: 62.5em) {
  .hero-header#about-us {
    background-image: url("/img/about/hero/hero-large.jpg");
  }
}

@media screen and (max-width: 46.875em) {
  .hero-header#about-us {
    background-image: url("/img/about/hero/hero-medium.jpg");
  }
}

@media screen and (max-width: 40em) {
  .hero-header#about-us {
    background-image: url("/img/about/hero/hero-small.jpg");
  }
}

@media only screen and (max-width: 27.813em) {
  .hero-header#about-us {
    background-image: url("/img/about/hero/hero-tiny.jpg");
  }
}

.intro-text#about-us {
  margin-bottom: 0;
}

.intro-text#about-us h2 span {
  font-family: "Lintel Medium", sans-serif;
  display: inline-block;
}

.job-description {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.75em;
}

.job-description::after {
  clear: both;
  content: "";
  display: table;
}

.job-description p {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
}

.job-description a {
  margin: 1.375rem auto 2.875rem;
}

.hero-header#contact {
  background-image: url("/img/contact/hero/default.jpg");
  background-color: #57C4BE;
}

@media only screen and (max-width: 65.625em) {
  .hero-header#contact {
    background-image: url("/img/contact/hero/830.jpg");
  }
}

@media screen and (max-width: 46.875em) {
  .hero-header#contact {
    background-image: url("/img/contact/hero/medium.jpg");
  }
}

@media screen and (max-width: 40em) {
  .hero-header#contact {
    background-image: url("/img/contact/hero/small.jpg");
  }
}

.contact-info {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

.contact-info::after {
  clear: both;
  content: "";
  display: table;
}

.details {
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 49.12106%;
  margin-left: 25.43947%;
  box-shadow: 0px 0px 0.125rem 0px #333;
  background: #fff;
  border-radius: 0.25em;
  padding: 1.5625em 0;
  margin-bottom: 1.875em;
}

.details:last-child {
  margin-right: 0;
}

.details h3#email a {
  text-decoration: none;
}

.email-form {
  float: left;
  display: block;
  margin-right: 1.75788%;
  width: 74.56053%;
  margin-left: 12.71973%;
  margin-bottom: 4.375rem;
  padding-top: 1.5625em;
}

.email-form:last-child {
  margin-right: 0;
}

.email-form h3 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 62.5em) {
  .details {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%;
  }
  .details:last-child {
    margin-right: 0;
  }
  .details h3#email a {
    font-size: 1.4375rem;
  }
  .email-form {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
  }
  .email-form:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 46.875em) {
  .details {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 79.43148%;
    margin-left: 10.28426%;
  }
  .details:last-child {
    margin-right: 0;
  }
  .email-form {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 89.71574%;
    margin-left: 5.14213%;
  }
  .email-form:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 40em) {
  .details {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    margin-left: 0%;
  }
  .details:last-child {
    margin-right: 0;
  }
  .email-form {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    margin-left: 0%;
  }
  .email-form:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 23.75em) {
  .details h3#email a {
    font-size: 1.25rem;
  }
}

#thanks-modal {
  text-align: center;
  color: #fff;
  padding: 5rem 1.25rem 0;
}

#thanks-modal button.mfp-close {
  color: #fff;
  opacity: 1;
  top: 10%;
  right: 5%;
}

#thanks-modal p {
  font-size: 1.9375em;
}

@media screen and (max-width: 46.875em) {
  #thanks-modal button.mfp-close:before {
    font-size: 24px;
  }
  #thanks-modal p {
    font-size: 1.375em;
  }
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}
